{% extends 'base.html' %}

{% block content %} 
<section class="main">
    <div>
        <img src="../../static/images/anastasia-zhenina-2doXWs4uqrg-unsplash.jpg" alt="" class="background">
    </div>    
    <h1 class="main-profile-text">Welcome to my whisky collection, {{ current_user.email}}
    </h1>
</section>
  

    <section class="text-center text-light">
    <div class="container p-10">
        <div class="row"><br>
            <h3 class="p-5">Your profile details are provided below</h3>
            <ul class="list-group">
                <li class="list-group-item">Email: {{ current_user.email }}</li>
                <li class="list-group-item">Token: {{ current_user.token }} </li> 
            </ul>
        </div>
    </div>
    </section>

    <section class="whiskey-col">
        <h2 class="text-center text-light mt-5"> Whiskey World</h2>
        <div class="whiskey-text">
            <p> My favorite whisky is <a href="https://en.wikipedia.org/wiki/Jack_Daniel%27s"  class="hobby-link" target="_blank"  rel="noopener noreferrer"> <i> Jack Daniels </i></a>. I tried the Jack Daniels three years ago.
                The Lamborghini Huracán (Spanish for "hurricane"; [uɾa'kan]) is a sports car manufactured by Italian automotive manufacturer Lamborghini replacing the previous V10 offering, the Gallardo.[5] The Huracán was revealed online in December 2013,[6] making its worldwide debut at the 2014 Geneva Auto Show,[7] and was released in the market in the second quarter of 2014.
                Jack Daniel's is a brand of Tennessee whiskey. It is produced in Lynchburg, Tennessee, by the Jack Daniel Distillery, which has been owned by the Brown–Forman Corporation since 1956.
Packaged in square bottles, Jack Daniel's "Black Label" Tennessee whiskey sold 12.9 million nine-liter cases in 2017. Other brand variations, such as Tennessee Honey, Tennessee Apple, Gentleman Jack, Tennessee Fire, and ready to drink (RTD) products brought the total to more than 16.1 million equivalent adjusted cases for the entire Jack Daniel's family of brands.
            </p>
        </div>
        <div class="whiskeys">
            <div class="whiskey-img-container">
                <img src="../../static/images/almos-bechtold-HECjANXN2FM-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Jack Daniels</h3>
            </div>
            <div class="whiskey-img-container">
                <img src="../../static/images/brian-jones-YBlcnXfv9OM-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Johnnie Walker </h3>

            </div>
            <div class="whiskey-img-container">
                <img src="../../static/images/aris-rovas-3RaYJv8U7io-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Jameson </h3>
            </div>
            <div class="whiskey-img-container">
                <img src="../../static/images/erik-gazi-VJrJy_AgRCY-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Jim Beam</h3>
            </div>
    
        </div>
        <div class="whiskeys">
            <div class="whiskey-img-container">
                <img src="../../static/images/nathan-dumlao-cqyVEdgnksk-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Knob Creek</h3>
            </div>
            <div class="whiskey-img-container">
                <img src="../../static/images/zhivko-minkov-4BTAbNvTNKw-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">The Dead Rabbit</h3>

            </div>
            <div class="whiskey-img-container">
                <img src="../../static/images/zhivko-minkov-EHL8bCPcWr8-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Monkey Shoulder</h3>

            </div>
            <div class="whiskey-img-container">
                <img src="../../static/images/zhivko-minkov-kCt6wv85wL8-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Woodford Reserve</h3>
            </div> 
        </div>
        <div class="whiskeys">
            <div class="whiskey-img-container">
                <img src="../../static/images/dilip-poddar-L6tBsAE6B_4-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Santa Carolina</h3>
            </div>
            <div class="whiskey-img-container">
                <img src="../../static/images/tolga-ahmetler-elvUuskGdMM-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Aberlour</h3>

            </div>
            <div class="whiskey-img-container">
                <img src="../../static/images/milo-weiler-TprwMXisLCE-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Gouden Carolus</h3>

            </div>
            <div class="whiskey-img-container">
                <img src="../../static/images/ryan-parker-PtGwPV5fKn0-unsplash.jpg" alt="" class="whiskey-image">
                <h3 class="text-center text-light">Barterhouse</h3>
            </div> 
        </div>
    </section> 

    <footer>
        <div class="copyright-profile">
            <p class="foot-text">&copy; 2023 Whiskey Collection</p>
        </div> 
    
    </footer>
{% endblock %}