{% extends 'base.html' %}

{% block content %}
<main class="container p-5 mt-5 ">
    <div class="row">
        <aside class="col-12 col-md-6">
            <h2 class="text text-start text-dark">Sign In</h2>    
            {% include 'forms.html' %}
        </aside>
    </div>
    <div class="sign-here">
        <p>If you do not have an account, please  <a href="{{ url_for('auth.signup') }}" class="sign-link">  sign up.</a></p>
     </div>
</main>



<footer>
    <div class="copyright-sign">
        <p class="foot-text">&copy; 2023 Whiskey Collection</p>
    </div> 
</footer>
{% endblock %}